


:root{
  --page-vertical-padding: 50px;
  
  --bottom-nav-height: 0px;
  --bottom-button-bar-height: 0px;
  
  
  
  --bottom-bars-inset: calc(
    var(--bottom-nav-height)
  );
  
  --bottom-page-inset: calc(
    var(--bottom-nav-height) +
    max(
      var(--bottom-button-bar-height),
      var(--page-vertical-padding)
    )
  );
}




@keyframes NoAnimation {
  /*from { transform: scale(1) }
  to { transform: scale(1) }*/
}
.no-animation {
  animation-name: NoAnimation;
  animation-duration: 1ms;
}




