* {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  /* disable highlight on mobile devices when tapping on screen */
  -webkit-tap-highlight-color: transparent;
}

html {
  /*
    https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
    Indicates that page cannot be changed by
    autotheme browser engine.
    And indicates that page can change theme by your own.
  */
  color-scheme: light dark;
}
html, body, #root {
  position: fixed;
  inset: 0;
  background: #f5f5f5;
}


a {
  display: contents;
  text-decoration: none;
}









@keyframes NoAnimation {
  /*from { transform: scale(1) }
  to { transform: scale(1) }*/
}
.no-animation {
  animation-name: NoAnimation;
  animation-duration: 1ms;
}